/vendor/
/docker/dev/mysql/
/docker/dev/grafana/data/
/docker/dev/influxdb/data/
/docker/dev/mysql/
/.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
